* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  height: 700px;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  background-color: #242424;
}

.flex-container div {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.textoContenedor {
  order: 1;
  width: 40%;
  color: white;
  text-align: center;
  margin: 10px;
}

.titulo {
  margin-top: 5%;
  margin-bottom: 10px;
}

.texto {
  margin-top: 10px;
  margin-bottom: 20px;
}

.imagenContenedor {
  order: 2;
  width: 40%;
  margin-top: 10%;
}

.imagen {
  border-radius: 50px;
  filter: grayscale(0%);
}

.imagen:hover {
  border-radius: 100px;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: 1.5s;
  transform: rotate(360deg);
}
